@{
    ViewData["Title"] = "ط¯ط§ط´ط¨ظˆط±ط¯ ظ…ط¹ظ„ظ…";
}

<div class="teacher-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>ط®ظˆط´ ط¢ظ…ط¯غŒط¯طŒ ظ…ط¹ظ„ظ… ع¯ط±ط§ظ…غŒ</h1>
                <p>ط§غŒظ† ظ¾ظ†ظ„ ظ…ط¯غŒط±غŒطھ ظ…ط¹ظ„ظ…ط§ظ† ط§ط³طھ.</p>
            </div>
        </div>
    </div>
</div>
