@model dynamic

<div class="content-block-template question-type-block" data-type="errorFinding">
    <div class="block-header">
        <div class="block-type">
            <i class="fas fa-bug"></i>
            <span>بلاک پیدا کردن خطا</span>
        </div>
        @await Html.PartialAsync("_BlockActions", new ViewDataDictionary(ViewData) { { "IsQuestionBlock", "false" } })
    </div>
    <div class="block-content">
        <div class="question-settings">
            <div class="settings-grid">
                <div class="setting-item">
                    <label>امتیاز:</label>
                    <select class="form-select-sm" data-setting="points">
                        @for (int i = 1; i <= 20; i++)
                        {
                            <option value="@i" selected="@(i == 1)">@i</option>
                        }
                    </select>
                </div>
                <div class="setting-item">
                    <label>
                        <input type="checkbox" data-setting="isRequired" checked>
                        اجباری
                    </label>
                </div>
            </div>
        </div>

        <div class="error-finding-container">
            <div class="error-text-editor">
                <label>متن حاوی خطا:</label>
                <div class="ckeditor-editor" data-role="error-text"></div>
            </div>

            <div class="error-settings">
                <div class="setting-item">
                    <label>
                        <input type="checkbox" data-setting="showLineNumbers" checked>
                        نمایش شماره خطوط
                    </label>
                </div>
            </div>

            <div class="errors-list" data-role="errors-list"></div>
        </div>
    </div>
</div>
