@model object
@using System.Linq
@using EduTrack.Application.Common.Models.ScheduleItems
@using EduTrack.Domain.Enums
@{
    var content = Model as GapFillContent;
    var scheduleItemId = ViewBag.ScheduleItemId as int? ?? 0;
}

<div class="gapfill-content-container">
    @if (content?.Blocks != null && content.Blocks.Any())
    {
        var orderedBlocks = content.Blocks
            .OrderBy(block => block.Order)
            .ThenBy(block => block.Id)
            .ToList();

        var blockIndex = 0;
        foreach (var block in orderedBlocks)
        {
            ViewBag.BlockIndex = blockIndex;
            ViewBag.ScheduleItemType = ScheduleItemType.GapFill;
            ViewBag.ScheduleItemId = scheduleItemId;
            @await Html.PartialAsync("_GapFillBlock", block)
            blockIndex++;
        }
    }
    else
    {
        <div class="content-empty-state">
            <i class="fas fa-info-circle"></i>
            <p>محتوای جای‌خالی یافت نشد.</p>
        </div>
    }
</div>
