<link rel="stylesheet" href="~/css/areas/teacher/shared/block-type-selection-modal.css" asp-append-version="true" />

@{
    var modalId = ViewData["ModalId"]?.ToString() ?? "blockTypeModal";
    var modalTitle = ViewData["ModalTitle"]?.ToString() ?? "انتخاب نوع بلاک";
    var modalLabel = ViewData["ModalLabel"]?.ToString() ?? "blockTypeModalLabel";
}

<!-- Ultra-Modern Block Type Selection Modal -->
<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@modalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content elegant-modal">
            <div class="modal-header elegant-header">
                <h5 class="modal-title elegant-title" id="@modalLabel">
                    <i class="fas fa-magic me-2"></i>
                    @modalTitle
                </h5>
                <button type="button" class="btn-close elegant-close" data-bs-dismiss="modal" aria-label="بستن">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body elegant-body">
                <div class="block-type-list" id="blockTypeList">
                    <!-- Block type options will be loaded dynamically based on item type -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/areas/teacher/shared/block-type-selection-modal.js" asp-append-version="true"></script>
